*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Quicksand', sans-serif;
    background-color: #E8E2E2;
    overflow-x: hidden;
}

ul, li, a{
    list-style: none;
    text-decoration: none;
}

$color-green:hsl(176deg 83.33% 7.06%);
