.main-llegar{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1{
        margin: 10px;
    }
    iframe{
        padding: 20px;
    }
    .llegar-items{
        display: flex;
        justify-content: space-around;
        a{
            display: flex;
            flex-direction: column;
        }
        img{
            width: 40px;
            border-radius: 5px;
        } 
    }
    .llegar-title{
        font-size: 1.6rem;
        color: black;
        margin: 10px;
        text-align: center;
        margin-top: 20px;
    }
    .llegar-hours p{
        color: black;
        line-height: 2rem;
        text-align: center;
        margin: 10px;
    }
}