.main__container{
    display: flex;
    flex-direction: column;

    .main__page{
        width: 100%;
        padding: 20px;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img{
            width: 80vw;
            min-height: 20rem;
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            object-fit: cover;
            box-shadow: 9px 3px 13px -2px rgba(0,0,0,0.5);
            border-radius: 5px;
            &:hover{
                box-shadow: 10px 7px 5px -7px rgba(0,0,0,0.75);
                transition: 0.5s;
            }
        }
        .main__page_title{
            color: #af8855;
            font-weight: 600;
            margin: 10px;
            padding: 5px;
            text-decoration: underline;
            &,.main__page p{
                text-align:center;
            }
        }
    }
}
@media (min-width: 620px){
    main{
        width: 100%;
        background-color: #E8E2E2;
    }
    .main__container{
        width: 80%;
        margin: 0 auto;
    }   
}
@media (min-width: 768px){
    .main__container{
        width: 80%;
        margin: 0 auto;
        .main__page{
            display: grid;
            grid-template-columns: 1fr 1fr;        
        }
        .main__card{
            margin: 10px;
            padding: 10px;
        }
         .grid-reverse{
            order: -1;
        }
    }
}
@media (min-width: 1024px){
    .main__container{
        width: 80%;
        .main__page{
            display: flex;
            flex-direction: row;
            margin: 50px auto;
            padding: 20px;
            img{
                width: 40vw;
                height: 300px;
                object-fit: fill; 
            }
        }
    }
}